Repository galaxyproject/galaxy-hub, pull requests merged in 2021-11, with the labels that each got.

#994 Add 21.09 release announcement
  content/admin/get-galaxy/index.md
  content/news/2021-11-galaxy-release-21-09/images/21.09-reports.png
  content/news/2021-11-galaxy-release-21-09/index.md
Labels: content

#1001 Prevent hyperlinks from getting broken by escaped characters.
  package.json
  src/build/fix-links.test.mjs
  src/build/mdfixer.mjs
  src/build/unescape-links.mjs
  src/build/unescape-links.test.mjs
Labels: bug

#1009 Update description of Spanscriptomics event
  content/events/2021-11-spanscriptomics/index.md
Labels: content

#1016 Added some tests for fixImageLink() in fix-links.mjs
  src/build/fix-links.mjs
  src/build/fix-links.test.mjs
  src/build/mdfixer.mjs
Labels: better-implementation, testing

#1022 Fix #758 for good (hopefully) by using <div>s to insert Markdown.
  src/components/CardCareers.vue
  src/pages/Use.vue
  src/templates/VueArticle.vue
Labels: bug

#1019 Add LinkBox component.
  content/events/gcc2013/abstracts/index.md
  content/events/gcc2013/abstracts/posters/index.md
  content/events/gcc2013/abstracts/talks/index.md
  content/events/gcc2013/bof/clinical-use-hpc-file-systems/index.md
  content/events/gcc2013/bof/galaxy-admins/index.md
  content/events/gcc2013/bof/galaxy-blast/index.md
  content/events/gcc2013/bof/galaxy-professionals/index.md
  content/events/gcc2013/bof/index.md
  content/events/gcc2013/bof/proteomics/index.md
  content/events/gcc2013/bof/public-galaxy-servers/index.md
  content/events/gcc2013/bof/tool-developers/index.md
  content/events/gcc2013/footer/index.md
  content/events/gcc2013/header/index.md
  content/events/gcc2013/index.md
  content/events/gcc2013/key-dates/index.md
  content/events/gcc2013/lightning/index.md
  content/events/gcc2013/linkbox.md
  content/events/gcc2013/links.json
  content/events/gcc2013/logistics/index.md
  content/events/gcc2013/organizers/index.md
  content/events/gcc2013/photos/index.md
  content/events/gcc2013/program/index.md
  content/events/gcc2013/promotion/index.md
  content/events/gcc2013/register/index.md
  content/events/gcc2013/sponsorships/index.md
  content/events/gcc2013/training-day/advance-tool-data/index.md
  content/events/gcc2013/training-day/api/index.md
  content/events/gcc2013/training-day/index.md
  content/events/gcc2013/training-day/intro-tool-data/index.md
  content/events/gcc2013/training-day/vms/index.md
  src/components/LinkBox.vue
  src/layouts/Default.vue
  src/main.js
Labels: enhancement

#1026 Added miRGalaxy platform.
  content/homepage-platforms.md
  content/homepage-pubs.md
  content/images/use/mirgalaxy/mirgalaxy-logo.png
  content/use/mirgalaxy/index.md
Labels: content

#1039 Update home page:
  content/events/2021-11-metabolomics/index.md
  content/homepage-videos.md
  content/images/splash/laniakea-recas-paper.png
  content/jumbotron.md
Labels: content

#1040 Added MeInBio job, and Galaxy-GSA platform
  content/careers/2021-02-inrae-micalis/index.md
  content/careers/2021-11-meinbio/index.md
  content/images/careers/meinbio-logo.png
  content/images/use/galaxy-gsa/galaxy-gsa-logo-200x200.png
  content/images/use/synbiocad/synbiocad-300.png
  content/images/use/synbiocad/synbiocad-fig3-slice.png
  content/images/use/synbiocad/synbiocad-supporting.png
  content/images/use/synbiocad/synbiocad-visual.png
  content/news/2020-07-galaxy-update/index.md
  content/news/2021-02-galaxy-update/index.md
  content/use/galaxy-gsa/index.md
  content/use/synbiocad/index.md
Labels: content

#1049 Add Cristóbal Gallardo to /iuc/.
  content/iuc/index.md
Labels: content

#1047 First try of a GxIT and R Shiny apps blog post
  content/blog/2021-11-RShiny_GxIT/index.md
Labels: content
