Repository galaxyproject/galaxy-hub, pull requests merged in 2021-09, with the labels that each got.

#846 Improve September newsletter display & Gridhub compatibility.
  content/news/2021-09-galaxy-update/index.md
Labels: content

#857 Fix a couple broken links in /tutorials/ngs/.
  content/tutorials/ngs/index.md
Labels: content

#859 Fix some internal links.
  content/news/2019-07-galaxy-update/index.md
  content/news/2021-07-galaxy-update/index.md
  content/news/2021-09-galaxy-update/index.md
  content/tutorials/nt_rnaseq/index.md
Labels: content

#858 Add several new tests
  cypress/integration/main.spec.js
  src/components/NavBar.vue
Labels: testing

#861 Internal link checking CI
  .github/workflows/links-external.yml
  .github/workflows/links-internal.yml
  .gitignore
  package.json
  src/build/check-links.mjs
  yarn.lock
Labels: enhancement, dependencies, build-only

#867 Added open position at Helmholtz
  content/careers/2021-09-helmholtz/index.md
  content/images/logos/helmholtz-zentrum-munchen.png
Labels: content

#876 Make previously implicit dependency remark-stringify explicit.
  package.json
Labels: bug, dependencies

#875 fix-links.mjs: Check for necessary values before invoking `getDirPath()`.
  src/build/fix-links.mjs
Labels: better-implementation

#874 Open links from /use/ to Galaxy servers in new tabs.
  src/pages/Use.vue
Labels: enhancement

#873 Updated information on MitoLink platform.
  content/use/mitolink/index.md
Labels: content
