Repository galaxyproject/galaxy-hub, pull requests merged in 2022-10, with the labels that each got.

#1658 Fix broken links FAQs
  content/support/account-quotas/index.md
  content/support/account/index.md
  content/support/tool-error/index.md
Labels: content

#1679 Give more visibility to communities
  content/community/index.md
  content/community/practice/index.md
  content/community/regional/index.md
  content/navbar.yml
Labels: content

#1681 Add cross-EOSC post
  content/media/scientific-collab-agreement-eosc-pillar-eosc-life.pdf
  content/news/2022-10-17-eosc-pillar-agreement/first_page.png
  content/news/2022-10-17-eosc-pillar-agreement/index.md
Labels: content

#1684 Add post RDM
  content/news/2022-10-19-RDM-Galaxy/index.md
  content/news/2022-10-19-RDM-Galaxy/rdm-galaxy.png
Labels: content

#1688 Update OIDC config - Custos url
  content/authnz/config/oidc/index.md
Labels: content

#1640 Add pages listing every news and event post from every subsite
  src/pages/everywhere/Events.vue
  src/pages/everywhere/News.vue
Labels: new-feature, unification

#1692 List VueArticles in dynamic pages too
  gridsome.server.js
  src/components/pages/Events.vue
  src/components/pages/EventsArchive.vue
  src/components/pages/News.vue
  src/components/pages/SubsiteHome.vue
  src/components/pages/TaggedEvents.vue
  src/pages/Blog.vue
  src/pages/Index.vue
  src/pages/bare/eu/Events.vue
  src/pages/bare/eu/News.vue
  src/pages/bare/eu/latest/Events.vue
  src/pages/bare/eu/latest/News.vue
  src/pages/everywhere/Events.vue
  src/pages/everywhere/News.vue
Labels: architecture

#1689 Update Custos config - Custos url change
  content/authnz/config/oidc/idps/custos/index.md
Labels: content

#1699 Fix issues with using images in /assets/media/
  content/assets/.tmp
  src/build/fix-links.mjs
  static/assets
Labels: unification

#1702 location_url -> location.url on a few posts
  content/events/2022-06-07-elixir-training-platform/index.md
  content/events/2022-06-08-elixir-covid/index.md
  content/events/2022-06-08-vhir/index.md
  content/events/2022-06-09-community-call/index.md
  content/events/2022-06-23-community-call/index.md
  content/events/2022-07-07-community-call/index.md
  content/events/2022-07-irods-user-group-meeting/index.md
  content/events/2022-08-04-community-call/index.md
  content/events/2022-08-18-community-call/index.md
  content/events/2022-08-taiarapu-assembly-annotation/index.md
  content/events/2022-09-01-community-call/index.md
  content/events/2022-09-15-community-call/index.md
  content/events/2023-02-ebi-single-cell/index.md
  content/events/2023-04-sib-introduction/index.md
  content/events/bcc2020/index.md
Labels: content
