Repository galaxyproject/galaxy-hub, pull requests merged in 2022-03, with the labels that each got.

#1211 Update Ukraine message on usegalaxy.org welcome
  content/usegalaxy/welcome/main.md
Labels: hosted

#1217 Restore /tools/requirements/ page.
  content/tools/requirements/index.md
Labels: content

#1183 Update the Galaxy Code of Conduct
  content/community/coc/index.md
Labels: content

#1225 Update the GGSC page
  content/community/steering/index.md
Labels: content

#1220 22.01 Release announcement
  content/admin/get-galaxy/index.md
  content/admin/python/index.md
  content/news/2022-03-galaxy-release-22-01/index.md
Labels: content

#1234 Fix typo in title of /tutorials/ngs/
  content/tutorials/ngs/index.md
Labels: content

#1248 Set GCC info image on the usegalaxy.org landing page
  content/usegalaxy/welcome/main.md
Labels: hosted

#1250 Add some basic infrastructure for subsites.
  config.json
  content/0examples/non-vue/index.md
  content/0examples/vue-remark/index.md
  content/eu/events/main.md
  content/us/events/main.md
  gridsome.server.js
  src/assets/styles.scss
  src/layouts/Default.vue
  src/pages/eu/Events.vue
  src/pages/us/Events.vue
  src/templates/Article.vue
  src/templates/Platform.vue
  src/templates/VueArticle.vue
  src/utils.js
Labels: unification

#1251 Start categorizing posts by subsite
  content/events/2021-11-gi/index.md
  content/events/2022-03-genome-assembly/index.md
  content/events/2022-03-microbial/index.md
  content/news/2021-08-elixir-update/index.md
  content/news/2021-10-bycovid/index.md
  content/news/2021-11-omicron/index.md
  src/pages/eu/Events.vue
Labels: unification

#1263 Covid project: Remove client build instructions
  content/projects/covid19/index.md
Labels: projects-covid

#1265 Allow hierarchical subsites
  config.json
  gridsome.config.js
  gridsome.server.js
  src/templates/Article.vue
  src/templates/VueArticle.vue
  src/utils.js
Labels: unification
