Repository galaxyproject/galaxy-hub, pull requests merged in 2022-04, with the labels that each got.

#1299 Move taggedEventsPages definition to config.json.
  config.json
  gridsome.server.js
  src/components/pages/TaggedEvents.vue
Labels: enhancement

#1294 Removing FAQ - Understanding compressed fastq data
  content/support/compressed-fastq/index.md
Labels: content

#1297 Removing FAQ - How to format fastq data for tools that require .fastqsanger format?
  content/support/fastqsanger/index.md
Labels: content

#1303 Updated Sorting_Inputs
  content/support/sort-your-inputs/index.md
Labels: content

#1306 Removing FAQ Format Help for Tabular/BED/Interval Datasets
  content/support/tabular/index.md
Labels: content

#1308 Removing FAQ - Dataset download using Command line
  content/support/download-data/index.md
Labels: content

#1307 Removing FAQ How do I find, adjust, and/or correct metadata?
  content/support/metadata/index.md
Labels: content

#1302 Updated Missing_History
  content/support/missing-history/index.md
Labels: content

#1280 Updated finding tools in Hub
  content/support/finding-tools/index.md
Labels: content

#1282 Updated issue reporting in Hub
  content/issues/index.md
Labels: content

#1321 A couple small content fixes.
  content/blog/2019-07-galaxy-resources/index.md
  content/blog/2019-07-galaxy-resources/pangalactic-search-box.png
  content/events/2017-10-hacktoberfest/index.md
Labels: content

#1323 No more automatic propagation and crossposting between subsites.
  config.json
  gridsome.server.js
  src/components/NavBar.vue
  src/layouts/Default.vue
  src/templates/Platform.vue
  src/utils.js
Labels: unification

#1325 Starting to import EU content
  content/events/2021-10-sars-cov-2-training/2021-12-01-sars-cov-2-data-analysis-training.png
  content/events/2021-10-sars-cov-2-training/index.md
  content/events/2022-03-14-smorgasbord-tapas/index.md
  content/events/2022-03-smorgasbord2/index.md
  content/events/2022-04-28-community-call/index.md
  content/events/2022-04-sib-introduction/index.md
Labels: unification

#1330 Font awesome fixes
  content/events/2021-10-sars-cov-2-training/index.md
  src/pages/Index.vue
Labels: content

#1333 Small typo fix in blog title.
  content/blog/2022-01-12-outreachy-progress-pia/index.md
Labels: content

#1337 Add an `all-eu` subsite shorthand.
  config.json
Labels: unification

#1336 Let authors set a primary subsite.
  gridsome.server.js
Labels: unification

#1332 Update papercuts events
  content/events/cofests/papercuts/main.md
Labels: content
