Repository galaxyproject/galaxy-hub, pull requests merged in 2022-07, with the labels that each got.

#1519 Add YT video to 2022-06-23 community call
  content/events/2022-06-23-community-call/index.md
Labels: content

#1520 Add YT video to 2022-07-07 community call
  content/events/2022-07-07-community-call/index.md
Labels: content

#1522 Galaxy Well-being Blog 3
  content/blog/2022-07-06-Galaxy-Wellbeing-Blog-3/index.md
Labels: content

#1517 News: Governance updates
  content/news/2022-07-governance-update/index.md
Labels: content

#1527 Prevent error when visiting blank subsite homepage.
  src/components/pages/SubsiteHome.vue
  src/lib/pages.mjs
  src/pages/Index.vue
Labels: enhancement, unification

#1528 Remove subsites.hierarchy from config.json
  config.json
  gridsome.server.js
  src/components/Gitter.vue
  src/components/NavBar.vue
  src/layouts/Default.vue
  src/lib/site.js
  src/lib/utils.js
  src/templates/Platform.vue
Labels: better-implementation, unification

#1529 Improve behavior when a new subsite is added to config.json
  src/components/pages/Events.vue
  src/components/pages/EventsArchive.vue
  src/components/pages/News.vue
  src/components/pages/SubsiteHome.vue
  src/lib/pages.mjs
Labels: enhancement, unification

#1472 Covid proteomics
  content/community-projects/covid-proteomics/dataset-demographics.png
  content/community-projects/covid-proteomics/discovery-verification-workflow.png
  content/community-projects/covid-proteomics/index.md
  content/community-projects/covid-proteomics/lorikeet.png
  content/community-projects/covid-proteomics/variant-who.png
Labels: content

#1539 GCC2022 rejig layout for the event
  content/events/gcc2022/header.md
  content/events/gcc2022/index.md
Labels: content

#1542 FTP decomission notice: emphasize that it's only the FTP service.
  content/usegalaxy/welcome/main.md
Labels: content, hosted

#1555 Post GCC2022 cleanup
  content/events/gcc2022/abstracts/index.md
  content/events/gcc2022/header.md
  content/events/gcc2022/key-dates/index.md
  content/events/gcc2022/register/index.md
  content/images/events/gcc2022/gcc2022-infographic.png
  content/jumbotron.md
  content/lead.md
  content/usegalaxy/welcome/main.md
  src/components/NavBar.vue
Labels: content

#1553 Added Galaxy Climate Project Blog 2
  content/blog/2022-07-25_Galaxy_Climate_Project_Introduction_Blog_2/Galaxy_Climate_Change_Blog_2_Img1.png
  content/blog/2022-07-25_Galaxy_Climate_Project_Introduction_Blog_2/Galaxy_Climate_Change_Blog_2_Img3.png
  content/blog/2022-07-25_Galaxy_Climate_Project_Introduction_Blog_2/Galaxy_Climate_Change_Blog_2_Img4.png
  content/blog/2022-07-25_Galaxy_Climate_Project_Introduction_Blog_2/Galaxy_Climate_Change_Blog_2_Img5.png
  content/blog/2022-07-25_Galaxy_Climate_Project_Introduction_Blog_2/index.md
Labels: content

#1561 Add a basic sitemap
  gridsome.config.js
  package.json
  yarn.lock
Labels: dependencies

#1562 Fix profile image on /people/john-davis/
  content/people/john-davis/index.md
Labels: content
