Repository galaxyproject/galaxy-hub, pull requests merged in 2022-05, with the labels that each got.

#1346 Update team, personal page
  content/galaxy-team/index.md
  content/galaxy-team/johndavis.jpg
  content/people/john-davis/index.md
  content/people/sergey/index.md
Labels: content

#1343 Add subsite homepages
  content/belgium/main.md
  content/elixir-it/main.md
  content/erasmusmc/main.md
  content/eu/main.md
  content/freiburg/main.md
  content/genouest/main.md
  content/ifb/main.md
  content/pasteur/main.md
  content/us/main.md
  gridsome.server.js
  src/components/NavBar.vue
  src/components/pages/SubsiteHome.vue
  src/pages/Index.vue
  src/templates/Platform.vue
  src/utils.js
Labels: unification

#1339 Add a couple news posts from .eu
  content/news/2022-04-20-towards-sustainable-storage/index.md
  content/news/2022-04-24-tool-update/index.md
Labels: content, unification

#1347 Add course NL
  content/events/2022-05-09-rnaseq-nl/index.md
Labels: content

#1351 Add an events archive page for every subsite.
  content/belgium/events/archive/main.md
  content/belgium/events/main.md
  content/elixir-it/events/archive/main.md
  content/elixir-it/events/main.md
  content/erasmusmc/events/archive/main.md
  content/erasmusmc/events/main.md
  content/eu/events/archive/main.md
  content/eu/events/main.md
  content/events/archive/main.md
  content/events/main.md
  content/freiburg/events/archive/main.md
  content/freiburg/events/main.md
  content/genouest/events/archive/main.md
  content/genouest/events/main.md
  content/ifb/events/archive/main.md
  content/ifb/events/main.md
  content/pasteur/events/archive/main.md
  content/pasteur/events/main.md
  content/us/events/archive/main.md
  content/us/events/main.md
  gridsome.server.js
  src/components/pages/EventsArchive.vue
Labels: unification

#1352 Removing FAQs in Registering Accounts
  content/support/account/index.md
Labels: content

#1353 Removing FAQs in Account Quotas
  content/support/account-quotas/index.md
Labels: content

#1354 Removing FAQs in Loading Data
  content/support/loading-data/index.md
Labels: content

#1348 Create PMO page
  content/community/governance/index.md
  content/community/pmo/index.md
Labels: content

#1300 NavBar: Add navigation between subsites.
  .github/workflows/links-internal.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
  config.json
  cypress/integration/main.spec.js
  src/assets/styles.scss
  src/components/NavBar.vue
  src/layouts/Default.vue
  src/templates/Article.vue
  src/templates/VueArticle.vue
Labels: unification

#1359 Hide subsites for now
  src/components/NavBar.vue
Labels: unification

#1360 Remove unused covid19 styles.
  src/assets/covid.styl
  src/main.js
Labels: projects-covid

#1286 Removing Moving Dataset between Galaxy Servers
  content/support/download-data/index.md
  content/support/index.md
Labels: content

#1326 [FAQ] Update index.md of Determining the job failure types
  content/support/tool-error/index.md
Labels: content

#1328 Removing FAQ - Tool doesn't recognize input datasets
  content/support/datatypes-and-tools/index.md
Labels: content

#1357 Removing FAQ Sorting and Troubleshooting Custom Genome
  content/learn/custom-genomes/index.md
Labels: content

#1361 Making Minor Changes to FAQs on the Support Page
  content/learn/custom-genomes/index.md
  content/learn/datatypes/index.md
  content/learn/share/index.md
  content/support/account-quotas/index.md
  content/support/chrom-identifiers/index.md
  content/support/download-data/index.md
  content/support/loading-data/index.md
  content/support/metadata/index.md
Labels: content

#1340 [FAQ] Updated Managing datasets
  content/learn/managing-datasets/index.md
Labels: content

#1364 Implement usegalaxy.eu middle pane
  content/eu/data-policy.md
  content/footers/eu.md
  content/hosted/usegalaxy-eu/jobs.md
  content/hosted/usegalaxy-eu/main/jumbotron.md
  content/hosted/usegalaxy-eu/main/main.md
  content/hosted/usegalaxy-eu/notices/ukraine.md
  src/pages/hosted/usegalaxy-eu/Main.vue
Labels: unification, hosted

#1366 Fix malformed Youtube embed in some Dev Roundtable pages.
  content/events/2021-05-27-dev-roundtable/index.md
  content/events/2021-06-10-dev-roundtable/index.md
  content/events/2021-07-22-dev-roundtable/index.md
  content/events/2021-08-19-dev-roundtable/index.md
  content/events/2021-10-28-dev-roundtable/index.md
Labels: content

#1365 Better implementation of usegalaxy.eu middle pane via BareArticle and iframe.
  config.json
  content/bare/usegalaxy-eu/jobs.md
  content/bare/usegalaxy-eu/main/index.md
  content/bare/usegalaxy-eu/main/jumbotron.md
  content/bare/usegalaxy-eu/notices.md
  content/eu/data-policy.md
  content/footers/eu.md
  content/hosted/usegalaxy-eu/main/main.md
  gridsome.config.js
  gridsome.server.js
  src/pages/bare/eu/Latest.vue
  src/pages/hosted/usegalaxy-eu/Main.vue
  src/templates/BareArticle.vue
  src/templates/VueArticle.vue
  src/utils.js
Labels: better-implementation, unification, hosted

#1368 Add Gitter chat back to usegalaxy.eu middle pane.
  content/bare/usegalaxy-eu/main/index.md
Labels: hosted

#1370 Scope link color style in /bare/eu/latest/.
  src/pages/bare/eu/Latest.vue
Labels: aesthetics, bugfix

#1376 Fix #1075 bug in GCC 2022 schedule page
  content/events/gcc2022/schedule/index.md
Labels: bugfix

#1378 Make hamburger menu on mobile NavBar more visible.
  src/components/NavBar.vue
Labels: aesthetics

#1379 Better fix for hamburger button visibility.
  src/components/NavBar.vue
Labels: aesthetics

#1384 Fix to left side of latest posts BareArticle getting cut off.
  src/pages/bare/eu/Latest.vue
Labels: aesthetics

#1389 Homepage: simplify and incorporate improvements from subsite homepages.
  content/lead.md
  content/main.md
  content/platforms-card.md
  content/pubs-card.md
  content/twitter-card.md
  content/videos-card.md
  src/pages/Index.vue
Labels: better-implementation

#1390 Simplify homepages and deduplicate code between main & subsite homepages
  content/belgium/cards.md
  content/belgium/lead.md
  content/belgium/main.md
  content/cards.md
  content/elixir-it/cards.md
  content/elixir-it/lead.md
  content/elixir-it/main.md
  content/erasmusmc/cards.md
  content/erasmusmc/lead.md
  content/erasmusmc/main.md
  content/eu/cards.md
  content/eu/twitter-card.md
  content/freiburg/cards.md
  content/freiburg/lead.md
  content/freiburg/main.md
  content/genouest/cards.md
  content/genouest/lead.md
  content/genouest/main.md
  content/ifb/cards.md
  content/ifb/lead.md
  content/ifb/main.md
  content/main.md
  content/pasteur/cards.md
  content/pasteur/lead.md
  content/pasteur/main.md
  content/us/cards.md
  content/us/lead.md
  content/us/main.md
  gridsome.server.js
  src/components/HomeCard.vue
  src/components/HomeTop.vue
  src/components/pages/News.vue
  src/components/pages/SubsiteHome.vue
  src/pages/Index.vue
  src/utils.js
Labels: better-implementation

#1335 Add may papercuts
  content/events/2022-05-papercuts/index.md
  content/events/2022-05-papercuts/papercuts-2022-05.png
Labels: content

#1397 Implement EU RSS feed
  config.json
  gridsome.config.js
  package.json
  src/build/toc-add.mjs
  src/utils.js
  yarn.lock
Labels: dependencies, unification

#1398 GCC2022 Call for BoFs: fix a couple references to GCC 2021
  content/news/2022-05-gcc2022-call-for-bofs/index.md
Labels: content

#1402 Force more modern sharp for m1 mac compatibility
  package.json
  yarn.lock
Labels: dependencies

#1401 The big utils.js cleanup
  config.json
  gridsome.config.js
  gridsome.server.js
  src/build/fix-links.mjs
  src/build/mdfixer.mjs
  src/build/partition-content.mjs
  src/build/preprocess.mjs
  src/build/run.mjs
  src/components/ArticleHeader.vue
  src/components/CardCareers.vue
  src/components/HomeTop.vue
  src/components/ItemListBrief.vue
  src/components/NavBar.vue
  src/components/Redirect.vue
  src/components/pages/SubsiteHome.vue
  src/layouts/Default.vue
  src/lib/client.mjs
  src/lib/pages.mjs
  src/lib/paths.mjs
  src/lib/site.js
  src/lib/utils.js
  src/pages/404.vue
  src/pages/Index.vue
  src/pages/Use.vue
  src/pages/bare/eu/Latest.vue
  src/pages/usegalaxy/Welcome.vue
  src/templates/BareArticle.vue
  src/templates/Platform.vue
  src/templates/VueArticle.vue
  src/utils.js
Labels: better-implementation

#1403 Make GCC2022 events summary cards a little less squished.
  content/events/gcc2022/schedule/index.md
Labels: content, aesthetics

#1404 Fix small errors and tweak details in the usegalaxy.eu middle pane.
  content/bare/usegalaxy-eu/notices.md
  content/footers/eu.md
Labels: unification

#1405 Fix issue with partitioning user-defined Collections
  gridsome.config.js
  src/build/partition-content.mjs
  src/lib/utils.js
Labels: bugfix

#1409 adding zoom link, modifying one phrase
  content/events/2022-05-26-community-call/index.md
Labels: content
